@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;900&display=swap');
@import 'mediaqueries.css';
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

.body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-wrap: wrap;
}

.hero {
    align-items: center;
    max-width: 100vh;
    height: 70vh;
    background-image: url(../img/bannerBenderS.jpeg) ;
    background-size: cover;
    max-width: 100%;
}

.navbar {
    display: grid;
    grid-template-columns: repeat(9 , 1fr);
    padding: 30px;
}
.navbar .brand {
    margin-left: 10px;
    color: blueviolet;

}

.navbar .menu {
    grid-column: 6 / 9;
    display :flex;
    margin-top: 10px;
}

.menu li {
    list-style: none;
}

.menu li a {
    text-decoration: none;
    margin-right: 3em;
    font-size: 1.6em;
    color: rgb(253, 118, 0);
    font-weight: 600;
    padding: 10px 10px ;
    border-radius: 20px;
    border:white;
}

.menu li a:hover{
    background-color: blueviolet;
    transition: all .5s;
    color: #000;
}

.menu-bar {
    display: none;
}

/* Seccion Para Main*/

.main {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: center;
    
}

.content-info {
    margin-top: 5em;
    color: rgb(79, 0, 176);
}

.button {
    cursor: pointer;
    color: #000;
    box-shadow: 0px 3px 14px -8px rgba(0, 0, 0, 0.78);
}

.button:hover {
    box-shadow: none;

}

.btn-compra , .btn-info{
    background-color: slateblue;
    padding: 8px 15px;
    font-size:1.3em;
    border-radius: 15px;
    border: none;
}

.btn-info {
    background:none;
    border: 3px solid #000;
    margin: 15px;

}

.main img {
    width: 30em;
    margin-bottom: 5px;
    margin-top: 5px;
}


